<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kb.jokes"
    android:versionCode="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    
    <application
        android:name=".business.core.JokesApplication"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode">
         
        <meta-data android:name="AA_DB_NAME" android:value="jokes.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.JokeDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter >
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.BigImageActivity">
            <intent-filter >
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.MyFavoritActivity">
            <intent-filter >
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.SettingsActivity">
            <intent-filter >
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.MyThumbupActivity">
            <intent-filter >
            </intent-filter>
        </activity>
    </application>

</manifest>